.card {
    position: relative;
   .card-body-3 , .card-body-2 , .card-body-1 {
    left: 50px;
    top: 90%;
    
    position: absolute;
    width: 300px !important;
    background-color: $colo_withe;
    box-shadow: 0px 8px 10px -2px #000000;
    h5{
        padding-bottom: 10px;
        border-bottom: 2px solid gray;
        width: fit-content;
    }
    i{
        color: gray;
    }
}

}
.chef{
    height: 100vh;
}
