.contact {
    margin-top: 20vh;
    margin-bottom: 7vh;

    .row-9 {
        @include Grid(grid, none, 20% 1fr, 20px);

        .content-menu {
            h1 {
                font-family: $font !important;
            }
            span{
                color: $color_yellow;
            }
        }

        .contact-form {
            padding-inline: 50px;

            .FORM {
                padding: 30px;

                input {
                    width: 100%;
                }

                .btn-contact {
                    @include flex (flex, center, center, none, none);

                    button {
                        margin-top: 50px;
                        border: none;
                        background-color: $color_yellow;
                        color: $colo_withe;
                        width: 170px;
                        padding: 17px;
                    }

                }

                .Cont-inp {
                    height: 20%;
                    @include flex(flex, center, center, 10px, none);

                    input {
                        padding: 20px;
                        height: 50px !important;
                    }
                }

                @include flex (flex, none, none, 40px, column);

                textarea {
                    margin-top: 3px !important;
                    padding: 20px;
                    width: 100%;
                    height: 180px
                }
            }

            @include Grid(grid, 30% 1fr, none, 20px);

            .card-contact {
                box-shadow: 0px 8px 21px -6px #000000;
                padding: 30px;

                .local,
                .emaiL,
                .cal {
                    padding: 10px;
                    @include flex(flex, center, none, 10px, none);

                    i {
                        font-size: 30px;
                        color: $color_yellow;
                    }

                    h5 {
                        font-family: $font;
                    }

                }

                .emaiL {
                    padding: 10px;
                    border-top: solid gray 1px;
                    border-bottom: solid gray 1px;
                }

                h1 {
                    font-family: $font;
                }
            }

        }

    }

    .CANTACT {

        width: 100%;
        @include flex (flex, center, center, 20px, column);
        padding-bottom: 20px;

        button {
            border: none;
            padding: 15px;
            border-radius: 10px;
            color: $color_yellow;
            background-color: $color_light_orange;
        }
    }
}