@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '../scss/variables';
@import '../scss/mixins';
@import '../scss/modules/navebar/navebar';
@import '../scss/modules/hero_section/hero_section';
@import '../scss/section-2/section_2';
@import '../scss/section-3/section_3';
@import '../scss/section-4/section_4';
@import '../scss/section-5/section_5';
@import '../scss/modules/section-6/section_6';
@import '../scss/modules/section-7/section_7';
@import '../scss/modules/section-8/section_8';
@import '../scss/modules/section-9/section_9';
@import '../scss/modules/footer/footer';
@import '../scss/modules/media/media';