// @media (max-width:820px) {

//     .navbar {
//         display: none !important;

//         .bottom-bar {
//             .links {
//                 display: none !important;
//             }
//         }
//     }

//     .hero-section {
//         background-color: blue !important;
//     }

//     .cour-1,
//     .cour-2 {
//         top: 10% !important;
//     }

//     // section 2 
//     .section-2 {
//         height: unset;
//         .row-1 {
//             padding: 100px;
//             height: 100%;
//             @include Grid (grid, none, 1fr 1fr, 20px);
//         }
//     }

//     .hero {
//         height: 37vh !important;
//     }
//     .food-menu{

//         display: unset !important;
//     }
//     .sction-4{
//         padding: unset !important;
//         margin: unset !important;
//         padding: 20px !important;
//     }
//     .row-4{
//         display: grid !important;
//         grid-template-rows: 1fr 1fr 1fr !important;
//         width: 100%;
//         height: auto;

//     }

//     // TABAL SPACIAL MENU
//     .content-menu , .option {
//             width: fit-content;

//             display: unset !important;
//             justify-content:  unset !important;
//             align-items: unset !important;


//     }

//     // section spcial

//     .row-5{
//         display: grid !important;
//         grid-template-rows: 10% 1fr 50% !important;
//         width: 40%;

//         .card-specila{
//             display: unset !important;
//             justify-content: start;
//             width: 100% !important;
//             text-align: center;
//         }
//     }

//     .event{ 

//         display: unset !important;
//         width: 100vh !important;
//         margin-bottom: 200px;
//         padding: unset;
//         img{
//             text-align: center;
//             width: 80% !important;

//         }
//         .img-event{
//             display: flex;
//             justify-content: start;
//         }
//         .content-evente{
//             display: flex;
//             justify-content: start;
//             flex-direction: column;
//         }
//     }

//     .carsal{
//        width: 100%;
//        padding: 100px;
//     }


//     // section table 

//     .section-tabel{
//         padding: unset !important;
//         .row-6{
//            .form{
//              display: unset;
//              width: 55%;
//              padding: unset;
//              gap: unset;
//              img{

//              }
//              form{
//                 width: 100%;
//                 .inp-1 , .inp-2 , .inp-3P{
//                    width: 50px;
//                     height: auto;
//                 }

//              }
//            }
//         }
//     }
//     .tap-form{


//         padding: 10px !important;

//         input{
//             width: 210px !important;
//         }
//          textarea {
//                     padding: 10px;
//                     width: 54% !important;
//                     height: 10px !important;
//                 }
//     }

//     .form{
//         height:  auto !important;
//         img{
//             width: 100% !important;
//         }
//     }

//     // gallary
//     .section-galerry{
//         margin: unset !important;
//         height: auto;
//         width: 55%;
//         .galerry {
//             display: unset !important;
//         }

//         .top-gal,
//             .bottom-gal{
//             grid-template-rows: 1fr 1fr 1fr 1fr;

//         }
//     }

// }




@media (max-width:420px) {

    // NAVBAR & HERO
    .ph-em {
        display: none !important;
    }

    .TOP {
        display: flex !important;
        justify-content: end !important;
    }

    .hero-section {

        height: 85vh;

        .hero {

            height: 100% !important;

            img {
                height: 100vh !important;
                object-fit: cover;
            }
        }
    }

    .open-menu {
        i {
            color: $colo_withe ;
            font-size: 35px;
        }
    }

    .links {
        position: absolute;
        @include flex (flex, start, none, 10px, column);
        background-color: $colo_withe;
        width: 77%;
        height: 50vh;
        top: 30px;
        right: -50vh;
        transition: 0.7s;

        a {
            font-weight: bold;
            color: black !important;
        }

        .close {
            position: absolute;

            i {
                color: $colo_withe;
                font-size: 20px;
                font-weight: bold;
            }

            top: -30px;
            right: 0;
        }
    }

    #OPEN:checked~.links {
        right: 45px !important;
    }

    #CLOSE:checked~.links {
        right: -50vh !important;
    }

    // ABOUT

    .section-2 {

        margin-top: 3vh !important;
        height: 110vh;
        background-color: $bg_setion;
        padding: unset !important;

        .row-1 {
            padding: unset !important;
            height: 100%;
            @include Grid (grid, none, 40% 30%, 10px);
            height: auto;
            padding-inline: 10px !important;
        }
    }

    // why us

    .section-3 {
        margin-top: 3vh;
        height: 70vh;

        .row-3 {

            padding-inline: 40px;
            height: auto;
            @include Grid(grid, none, 10% 1fr, 20px);

            .card-why {

                height: 100%;
                @include Grid (grid, none, 1fr, 20px);
            }
        }
    }

    // menu 

    .sction-4 {

        margin-top: 50vh !important;
        height: auto !important;

        .food-menu {
            padding: unset !important;
            display: unset !important;

        }

    }

    .content-menu {
        width: unset;
        display: block !important;
    }

    .option {
        display: unset !important;
    }

    .row-4 {
        padding-inline: 20px;
        height: auto !important;
        grid-template-rows: 20% 10% 1fr !important;
        gap: unset !important;

        .MENU,
        .h {
            text-align: center !important;
        }

        .MENU {
            button {
                padding-top: 20px !important;
            }
        }

        .h {


            p {
                font-family: $font;
                padding-left: 10px;
            }
        }

    }

    //option 
    .section-5 {
        margin-top: 30vh !important;
        height: auto !important;
        padding-inline: 20px !important;

        .op {

            display: unset !important;
            padding: unset !important;
        }

        .row-5 {
            @include Grid (grid, none, 7% 1fr, 20px !important);

            .SPACIAL {
                text-align: center;
                margin-top: 30px;
            }

            .event {
                padding-inline: 10px;
                display: unset !important;
            }
        }
    }

    // table 
    .section-tabel {
        margin-top: 7vh;
        padding: unset !important;

        .row-6 {
            padding-inline: unset !important;
            @include Grid(grid, none, 10% 1fr, 9px !important);

            .TABAL,
            .Gallery {
                padding: unset !important;
                text-align: center;
                @include flex (flex, center, center, 10px, column !important)
            }

            .form {
                width: 50% !important;
                width: unset !important;
                height: auto !important;
                padding: unset !important;
                display: unset !important;


                form {
                    padding: unset !important;
                    width: 100% !important;
                    padding: 10px !important;

                    input {
                        width: 100% !important;
                    }

                    textarea {
                        padding: 10px;
                        width: 100% !important;
                        height: 100% !important;
                    }

                    .inp-1,
                    .inp-2,
                    .inp-3 {
                        width: 100% !important;
                    }
                }

                img {
                    width: 100% !important;
                }


            }
        }


    }

    // Gallery
    .section-galerry {
        padding-inline: 20px !important;
        .row-7 {
            @include Grid(grid, none, 7% 1fr, 7px !important);

            .galerry {
                @include Grid(grid, none, 1fr, 10px !important);

                .top-gal,
                .bottom-gal {
                    @include Grid(grid, none, none, 3px);
                }
            }

            .Gallery {
                padding: unset !important;
                text-align: center;
                @include flex (flex, center, center, 20px, column !important)
            }
        }
    }

    // chef

    .CAH {
        text-align: center !important;
    }

    .card {
        margin-top: 100px !important;
    }

    .CHAFE {
       
        margin-top: 5vh !important;
    }

    //  contact 
    .contact {
       
        .row-9 {
            @include Grid(grid, none, 10% 1fr, 7px !important);

            .CANTACT {
                text-align: center;
            }

            .contact-form {
                display: unset !important;

                .FORM {
                    gap: 10px !important;
                }
            }

            .Cont-inp {
                @include flex (flex, none, none, 10px, column !important)
            }
        }
    }

    // footer 

    Footer {
        .contact-footer {
           display: unset !important;
        
        }
        .Copy{
            margin-top: 4vh !important;
        }
    }
   

}