.section-tabel {

    padding-inline: 50px;

    .row-6 {
        padding-inline: 50px;
        @include Grid(grid, none, 20% 1fr 7%, 20px);

        .content-menu {
            width: 100%;
            @include flex (flex, center, center, 20px, column);
            padding-bottom: 20px;

            button {
                border: none;
                padding: 15px;
                border-radius: 10px;
                color: $color_yellow;
                background-color: $color_light_orange;
            }

            h1 {
                font-family: $font;
                font-weight: bold;

                span {
                    color: $color_yellow;
                }
            }

        }

        .form {
            width: 100%;
            height: 75vh;
            background-color: rgb(238, 236, 236);
            @include Grid(grid, 30% 1fr, none, 10px);

            img {
                width: 400px;
                
            }

            .btn-tabel {
                margin-top: 20vh;
                @include flex (flex, center, center, 10px, none);

                button {

                    border: none;
                    padding: 15px;
                    width: 150px;
                    color: $colo_withe ;
                    background-color: $color_yellow ;

                }
            }





            .bnt-tabel {
                @include flex(flex, center, center, none, none);

                button {
                    padding: 17px;
                    width: 300px;
                    border: none;
                    background-color: $color_yellow;

                }
            }

            .tap-form {

                padding: 100px;
                @include flex (flex, none, none, 30px, column);

                input {
                    width: 200vh;
                }

                .inp-1,
                .inp-2,
                .inp-3 {

                    width: 100vh;
                    height: 50px;
                    

                    @include flex(flex, none, none, 5px, none);
                }

                textarea {
                    padding: 10px;
                    width: 100%;
                    height: 200px !important;
                }

                input {
                    padding: 10px;
                }





            }




        }

    }
}