.section-2 {

    margin-top: 95vh !important;
    height: 90vh;
    background-color: $bg_setion;

    .row-1 {
        padding: 100px;
        height: 100%;
        @include Grid (grid, 1fr 1fr, none, 20px);

        .img-cursil {
            
            position: relative;
            img {
                width: 100%;
            }

            .play {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50px);
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $color_yellow;
                @include flex (flex, center, center, none, none);

                i {
                    color: $colo_withe;
                    font-size: 50px;
                }

            }
        }
      

    }

    .info-video {
        @include flex (flex, none, none, 20px, column)
    }
}

.HEDDIN {
    label{
        position: absolute;
        right: 10px;
        i{
            color: $color_yellow;
            font-size: 50px;
        }
        z-index: 9999999;
    }
    top: 100vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;

    .imG , iframe {
        position: relative;
        z-index: 10000;
        margin-top: 5vh;
        margin-left: 50vh;
        @include flex(flex, center, center, none, column);
    }
    iframe{
        margin-top: 30vh !important;
        margin-left: 60vh !important;
    }

    &::after {
        content: "";
        background-color: black;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.9 !important;
        left: 0;
        top: 0;
    }
}
.play{
    i{
        font-size: 23px;
    }
}
#Open:checked ~ .HEDDIN {
    opacity: 1;
    pointer-events: auto;
}
#close:checked ~ .HEDDIN{
    opacity: 0 ;
    pointer-events: auto;
}
.info-video{
    h1{
        font-family: $font;
       
    }
     i{
            color: $color_yellow;
            font-size: 25px;
        }
}

// animation  about 

.up-about  {
    transform: translateY(50px);
    animation:  upabout 1s ease-out forwards;
  
    
   
}

@keyframes upabout {
    to{
        opacity: 1 !important;
        transform: translateY(0);
    }

}
.up-content{
     transform: translateY(50px);
    animation:  upabout 2s ease-out forwards;
   

}
@keyframes upabout {
    to{
        opacity: 1 !important;
        transform: translateY(0);
    }

}
