.section-2 {

    margin-top: 85vh;
    height: 90vh;
    background-color: $bg_setion;


    .row-1 {
        padding: 100px;
        height: 100%;
        @include Grid (grid, 1fr 1fr, none, 20px);

        .img-cursil {
            
            position: relative;
            img {
                width: 100%;
            }

            .play {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50px);
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $color_yellow;
                @include flex (flex, center, center, none, none);

                i {
                    color: $colo_withe;
                    font-size: 20px;
                }

            }
        }


    }

    .info-video {
        @include flex (flex, none, none, 20px, column)
    }
}

.HEDDIN {
    label{
        position: absolute;
        right: 10px;
        i{
            color: $color_yellow;
            font-size: 50px;
        }
        z-index: 9999999;
    }
  top: 100vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;

    .imG {
        position: relative;
        z-index: 10000;
        margin-top: 5vh;
        margin-left: 50vh;
        @include flex(flex, center, center, none, column);
    }

    &::after {
        content: "";
        background-color: black;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.6;
        left: 0;
        top: 0;
    }
}

#Open:checked ~ .HEDDIN {
    opacity: 1;
    pointer-events: auto;
}
#close:checked ~ .HEDDIN{
    opacity: 0 ;
    pointer-events: auto;
}

